/*** Colors ***/
$primary-color: color("indigo", "base") !default;
$primary-color-light: color("indigo", "lighten-4") !default;
$primary-color-dark: color("indigo", "darken-2") !default;

$secondary-color: color("green", "accent-1") !default;
$success-color: color("deep-orange", "accent-1") !default;
$error-color: color("red", "base") !default;
$link-color: color("red", "accent-2") !default;


/*** Fonts ***/
$roboto-font-path: "../font/roboto/" !default;
$icons-font-path: "../font/material-design-icons/" !default;

/*** Forms ***/
// Text Inputs + Textarea
$input-border-color: color("grey", "base") !default;
$input-bg-color: #fff !default;
$input-error-color: $secondary-color !default;
$input-success-color: $secondary-color !default;
$input-focus-color: $secondary-color !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;

// Footer
$footer-bg-color: $primary-color !default;

/*** Collections ***/
$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
