// load materialize
@charset "UTF-8";

// Mixins
@import "materialize/sass/components/prefixer";
@import "materialize/sass/components/mixins";
@import "materialize/sass/components/color";

// get local variables
@import "variables";
// get global variables
@import "materialize/sass/components/variables";

// Reset
@import "materialize/sass/components/normalize";

// components
@import "materialize/sass/components/global";
@import "materialize/sass/components/icons-material-design";
@import "materialize/sass/components/grid";
@import "materialize/sass/components/navbar";
@import "materialize/sass/components/roboto";
@import "materialize/sass/components/typography";
@import "materialize/sass/components/cards";
@import "materialize/sass/components/toast";
@import "materialize/sass/components/tabs";
@import "materialize/sass/components/tooltip";
@import "materialize/sass/components/buttons";
@import "materialize/sass/components/dropdown";
@import "materialize/sass/components/waves";
@import "materialize/sass/components/modal";
@import "materialize/sass/components/collapsible";
@import "materialize/sass/components/materialbox";
@import "materialize/sass/components/form";
@import "materialize/sass/components/table_of_contents";
@import "materialize/sass/components/sideNav";
@import "materialize/sass/components/preloader";
@import "materialize/sass/components/slider";
@import "materialize/sass/components/date_picker/default.scss";
@import "materialize/sass/components/date_picker/default.date.scss";
@import "materialize/sass/components/date_picker/default.time.scss";

// Variables
$faviconSize: 16px;

// actual styles

body {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.collection {
  max-height: 300px;

  .collection-item.avatar {
    min-height: initial;

    .circle {
      // center the favicons in a circle
      text-align: center;
      vertical-align: middle;
      // default color for circle
      background-color: $collection-border-color;
      line-height: 42px;

      img {
        height: $faviconSize;
        width: $faviconSize;
        vertical-align: middle;
        font-size: 0;
      }
    }

    &.active .circle {
      // default color for circle
      background-color: color("shades", "white");
    }
  }
}

.collection-item {
  @extend .black-text;

  strong {
    font-weight: bold;
  }

  &.active {
    strong {
      font-weight: bold;
      @extend .white-text;
    }
  }
}
