// load materialize
@charset "UTF-8";

// Mixins
@import "materialize/sass/components/prefixer";
@import "materialize/sass/components/mixins";
@import "materialize/sass/components/color";

// get local variables
@import "variables";
// get global variables
@import "materialize/sass/components/variables";

// Reset
@import "materialize/sass/components/normalize";

// components
@import "materialize/sass/components/global";
@import "materialize/sass/components/icons-material-design";
@import "materialize/sass/components/grid";
@import "materialize/sass/components/navbar";
@import "materialize/sass/components/roboto";
@import "materialize/sass/components/typography";
@import "materialize/sass/components/cards";
@import "materialize/sass/components/toast";
@import "materialize/sass/components/tabs";
@import "materialize/sass/components/tooltip";
@import "materialize/sass/components/buttons";
@import "materialize/sass/components/dropdown";
@import "materialize/sass/components/waves";
@import "materialize/sass/components/modal";
@import "materialize/sass/components/collapsible";
@import "materialize/sass/components/materialbox";
@import "materialize/sass/components/form";
@import "materialize/sass/components/table_of_contents";
@import "materialize/sass/components/sideNav";
@import "materialize/sass/components/preloader";
@import "materialize/sass/components/slider";
@import "materialize/sass/components/date_picker/default.scss";
@import "materialize/sass/components/date_picker/default.date.scss";
@import "materialize/sass/components/date_picker/default.time.scss";

// Variables
$faviconSize: 16px;

// actual styles

body {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  // show box shadow
  position: relative;
  z-index: 1;
  // styles
  background-color: $primary-color;
  padding-top: 20px;

  > .container > .row {
    margin-bottom: 0;
  }

  input {
    @extend .white-text;
    font-size: 18px;
  }
}

.collection {
  max-height: 350px;
  margin-top: 0;

  .collection-item.avatar {
    min-height: initial;
    padding-right: 50px;

    .circle {
      // center the favicons in a circle
      text-align: center;
      vertical-align: middle;
      // default color for circle
      background-color: $collection-border-color;
      line-height: 42px;

      img {
        height: $faviconSize;
        width: $faviconSize;
        vertical-align: middle;
        font-size: 0;
      }
    }

    &.active .circle {
      // default color for circle
      background-color: color("shades", "white");
    }
  }
}

.secondary-content {
  color: $secondary-color;
}

.collection-item {
  @extend .black-text;

  strong {
    font-weight: bold;
  }

  &.active {
    b {
      font-weight: bold;
      // @extend .white-text;
    }
  }

  &.tab {
    .circle .material-icons {
      display: none;
      visibility: hidden;
    }

    &.no-favicon .circle{
      .material-icons {
        display: inline-block;
        vertical-align: middle;
        visibility: visible;
        font-size: 16px;
      }
      img {
        display: none;
        visibility: hidden;
      }
    }
  }
}
