// load materialize
@charset "UTF-8";

// material design icons
@import "iconfont";

// Mixins
// @import "materialize-css/sass/components/prefixer";
@import "materialize-css/sass/components/mixins";
@import "materialize-css/sass/components/color";

// get local variables
@import "variables";
// get global variables
@import "materialize-css/sass/components/variables";

@import "materialize-css/sass/materialize";

// Variables
$faviconSize: 16px;

// actual styles
body {
  overflow: hidden;
  display: flex;
  min-height: 600px;
  min-width: 600px;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  // show box shadow
  position: relative;
  z-index: 1;
  // styles
  background-color: $primary-color;
  padding-top: 20px;

  > .container > .row {
    margin-bottom: 0;
  }

  input {
    @extend .white-text;
    font-size: 18px;
  }
}

.collection {
  max-height: 350px;
  margin-top: 0;

  .collection-item.avatar {
    min-height: initial;
    padding-right: 50px;

    .circle {
      // center the favicons in a circle
      text-align: center;
      vertical-align: middle;
      // default color for circle
      background-color: $collection-border-color;
      line-height: 42px;

      img {
        height: $faviconSize;
        width: $faviconSize;
        vertical-align: middle;
        font-size: 0;
      }
    }

    &.active .circle {
      // default color for circle
      background-color: color("shades", "white");
    }
  }
}

.secondary-content {
  color: $secondary-color;
}

.collection-item {
  @extend .black-text;

  strong {
    font-weight: bold;
  }

  // hide icons per default
  .secondary-content {
    display: none;
    visibility: hidden;
  }

  &.active, &:hover {
    b {
      font-weight: bold;
      // @extend .white-text;
    }

    .secondary-content {
      display: block;
      visibility: visible;
    }
  }

  &.tab {
    .circle .material-icons {
      display: none;
      visibility: hidden;
    }

    &.no-favicon .circle{
      .material-icons {
        display: inline-block;
        vertical-align: middle;
        visibility: visible;
        font-size: 16px;
      }
      img {
        display: none;
        visibility: hidden;
      }
    }
  }
}

#information {
  padding-bottom: 20px;
}
